{% extends 'index.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}

    
<div class="container form-group">
    <div class="row">
        <div class="col">
            <h1>Change Password</h1>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <br>
                <ul>
                    <li>Your password can not be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can not be a commonly used password.</li>
                    <li>Your password can not be entirely numeric.</li>
                </ul>
                <br>
                <button class="btn btn btn-styled" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>
    

{% endblock %}