{% extends 'index.html' %}

{% block content %}

    <div id="post-container" class="container">
        <div class="row">
            <div class="col-12 md-col-10 offset 1">
                <div class="post">
                {% for post in posts %}
                    <h6><a class="title-links" href="{% url 'post_details' post.post_id %}">
                        {{ post.title }} | {{ post.author.username }}</a></h3>
                    <p>{{ post.content|slice:":300" }}</p>
                    <p>{{ post.created_on }}</p>
                    <hr>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}