{% extends 'index.html' %}

{% block content %}

    <div class="container post-container">
        <div class="row">
            <div class="col-12 md-col-10 offset 1">
                <div class="post">

                {% for post in posts %}
                    <h5><a class="title-links" href="{% url 'post_details' post.post_id %}">
                        {{ post.title }} | {{ post.author.username }}</a></h5>
                    <p>{{ post.content|slice:":300" }}</p>
                    <p>{{ post.created_on }}</p>
                    <hr>
                {% endfor %}
                
                </div>
            </div>
        </div>
    </div>

{% endblock %}