{% extends 'index.html' %}

{% block content %}
    <h1>My Activity</h1>
    
    <button type="button" class="btn btn-outline-primary"><a href="{% url 'liked_posts' %}?userposts=posts">Posts</a></button>
    <button type="button" class="btn btn-outline-primary"><a href="{% url 'liked_posts' %}?userposts=liked">Liked Posts</a></button>

    <hr>
    <ul>
    {% for post in posts %}
        <li><a href="{% url 'post_details' post.post_id %}">
            {{ post.title }} | {{ post.author.username }}</li></a>
        <li>{{ post.content|slice:":300" }}</li>
        <li>{{ post.created_on }}</li>
        <hr>
    {% endfor %}
    </ul>

{% endblock %}