{% extends 'index.html' %}

{% block title %} {{post.title}} {% endblock %}

{% block content %}

    <h2>{{ post.title }}</h2>

    <small>Post created by: {{ post.author.username }}</small>

    <hr>

    {{ post.content }}
    <hr>
    <small>{{ post.created_on }}</small>
    <form action="{% url 'like_btn' post.post_id %}" method="POST">
        {% csrf_token %}

    {% if user.is_authenticated %}
        {% if liked %}
            <button type="submit" name="like_btn" value="{{ post_id }}"><i class="fa-solid fa-heart"></i></button> <small>{{ num_of_likes }}</small>
        {% else %}
            <button type="submit" name="like_btn" value="{{ post_id }}"><i class="fa-regular fa-heart"></i></button> <small>{{ num_of_likes }}</small>
        {% endif %}
    {% else %}
        <small>Login to like this post!</small>
    {% endif %}

    </form>

    <br>

    {% if request.user == post.author %}
        <a href="{% url 'delete_post' post.post_id %}">Delete</a>
        <a href="{% url 'edit_post' post.post_id %}">Edit</a>
    {% endif %}
    <a href="{% url 'post_list_view' %}">Go Back</a>

{% endblock %}