{% extends 'index.html' %}

{% block title %} {{post.title}} {% endblock %}

{% block content %}

    <h2>{{ post.title }}</h2>

    <small>Post created by: {{ post.author.username }}</small>

    <hr>

    {{ post.content }}
    <hr>
    <small>{{ post.created_on }}</small>
    <form action="{% url 'like_btn' post.post_id %}" method="POST">
        {% csrf_token %}
        <button type="submit" name="like_btn" value="{{ post_id }}">like</button> {{ num_of_likes }}
    </form>

    <br>

    {% if request.user == post.author %}
        <a href="{% url 'delete_post' post.post_id %}">Delete</a>
        <a href="{% url 'edit_post' post.post_id %}">Edit</a>
    {% endif %}
    <a href="{% url 'post_list_view' %}">Go Back</a>

{% endblock %}